<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.mybatis.mapper.GoodsMapper">
	<resultMap type="Goods" id="GoodsResultMap">
		<id 	column="g_code" 		property="goodsCode"/>
		<result column="g_name"	 		property="goodsName"/>
		<result column="g_price" 		property="goodsPrice"/>
		<result column="g_seller_id" 	property="goodsSellerId"/>
		<result column="g_reg_date" 	property="goodsRegDate"/>
		<collection property="memberInfo" javaType="Member">
		<id column="m_id" 			property="memberId"/>
		<result column="m_pw" 		property="memberPw"/>
		<result column="m_name" 	property="memberName"/>
		<result column="m_level" 	property="memberLevel"/>
		<result column="m_email" 	property="memberEmail"/>
		<result column="m_addr" 	property="memberAddr"/>
		<result column="m_reg_date" property="memberRegDate"/>
		
		
		</collection>
	</resultMap>

	<insert id="addGoods" parameterType="Goods">
		INSERT INTO tb_goods
			(g_code
			,g_name
			,g_price
			,g_seller_id
			,g_reg_date)
			VALUES (
			  #{goodsCode}	
			 ,#{goodsName}
			 ,#{goodsPrice}
			 ,#{goodsRegDate}
			 , CURDATE());
	</insert>

	<select id="getSearchGoodsList" fetchSize="10" parameterType="String" resultMap="GoodsResultMap">
		SELECT
			g.g_code,
			g.g_name,
			g.g_price,
			g.g_seller_id,
			g.g_reg_date
		FROM
			tb_goods AS g
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchValue != null and searchValue != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</trim>
	</select>




	<update id="getModifyGoods" parameterType="Goods">
	UPDATE tb_goods
		<trim prefix="SET" prefixOverrides=",">
			<if test="goodsName != null and goodsName != ''">
				 g_name = #{goodsName}			
			</if>
			<if test="goodsPrice != null and goodsPrice != ''">
				,g_price = #{goodsPrice}			
			</if>
		</trim>
			WHERE
				g_code = #{goodsCode};
	</update>

	<select id="getGoodsList" fetchSize="100" resultMap="GoodsResultMap">
		SELECT
			g.g_code
			,g.g_name
			,g.g_price
			,g.g_seller_id
			,g.g_reg_date
		FROM
			tb_goods AS g
	
	</select>










</mapper>